<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Block\Block">
        <plugin name="inject_lazy_loading_into_images"
                type="MageSuite\CmsLazyload\Plugin\Cms\Block\Block\InjectLazyLoadingIntoImages" />
    </type>
    <type name="MageSuite\CmsLazyload\Logger\Logger\InvalidBlockLogger">
        <arguments>
            <argument name="name" xsi:type="string">invalid_block_logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="warning" xsi:type="object">MageSuite\CmsLazyload\Logger\Handler\InvalidBlockHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="MageSuite\CmsLazyload\Plugin\Cms\Block\Block\InjectLazyLoadingIntoImages">
        <arguments>
            <argument name="logger" xsi:type="object">MageSuite\CmsLazyload\Logger\Logger\InvalidBlockLogger</argument>
        </arguments>
    </type>
</config>
